@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: #161a1d;
    color: #f5f3f4;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.firstPage{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}
.italo{
    box-sizing: border-box;
    display: flex;
    height: 70vh;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    animation: italo 500ms ease-in 700ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}
@keyframes italo{
    0% {
        transform: translatex(-200%);
    }

    100%{
        transform: translateY(0);
    }
}
#italoPrimeiro{
    width: 50%;
    height: auto;
    padding-left: 30px;
}
h1{
    font-size: 4rem;
}
h2{
    color: rgb(173, 217, 255);
}
.italoApresentation{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 20%;
    gap: 50px;
}
.italoApresentation2{
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: italoApresentation2 400ms ease-in 300ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}
@keyframes italoApresentation2{
    0% {
        transform: translateY(-400%);
    }

    100%{
        transform: translateY(0);
    }
}
.secondPage{
    background-image: url("../img/corolla-frente.jpg");
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: rgb(173, 217, 255);
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 3px black;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.preSecondPage{
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    gap: 25px;
    justify-items: center;
    align-items: center;
    font-family: 'Kalam', cursive;
    font-size: 2.5rem;
}
.prePreSecondPage{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    animation: prePreSecondPage 400ms ease-in;
}
.prePreSecondPage, #buttonContato, #buttonFormasDePagamento, #buttonImagens{
    animation: prePreSecondPage 500ms ease-in-out 1300ms;
    animation-fill-mode: forwards;
    transform: scale(0);
}
@keyframes prePreSecondPage{
    0% {
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
#viajeCom{
    font-size: 2rem;
}
#viajeComItens{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
.thirdPage{
    color: #56C6A9;
    font-family: 'Kalam', cursive;
    background-repeat: no-repeat;
    background-attachment: scroll;

    text-shadow: 3px 3px black;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.thirdPage3{
    color: #56C6A9;
    font-family: 'Kalam', cursive;

    text-shadow: 3px 3px black;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.thirdPage3 img{
    height: auto;
    width: 6%;
}
#stars{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thirdPage2{
    background-image: url("../img/corolla-interior-tras.jpg");
    font-size: 2.8rem;
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fourthPage{
    background-image: url("../img/corolla-tras.jpg");
    font-size: 2.8rem;
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fourthPageTitle{
    display: flex;
    justify-content: center;
    min-height: 400px;
    align-items: center;
    font-weight: 600;
    color: rgb(173, 217, 255);
    text-shadow: 2px 2px black;
}
.fifthPage{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    justify-items: center;
    gap: 10px;
    padding: 10px;
}
.fifthPage img{
    padding-top: 50px;
    width: 50%;
    height: auto;
}
figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.sixthPage{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px, 1fr));
    justify-items: center;
}
.sixthPage img{
    width: 80%;
    height: auto;
    justify-items: center;
    gap: 10px;
    padding: 10px;
}
.seventhPage{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contJa{
    font-size: 6rem;
    font-weight: 900;
    color: #56C6A9;
    font-family: 'Kalam', cursive;
    text-shadow: 3px 3px green;
    padding-top: 80px;
}
.seventhPage img{
    width: 20%;
    height: auto;
    justify-items: center;
    gap: 10px;
}
#whatsGmailIcons{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#whatsGmailIcons a{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    min-height: 8vh;
    font-size: 1.1rem;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
a{
    all: unset;
    transition: 150ms;
}
a:hover{
    cursor: pointer;
    transform: scale(1.2);
    color:aqua;
}
button{
    all:unset;
    transition: 200ms;
}
#buttonQuem{
    padding: 100px 50px 100px 50px;
}
button:hover{
    transform: scale(1.2);
    color: aqua;
}
.voltarTopo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #79C753;
    color: #f5f3f4;
    cursor: pointer;
    padding: 15px;
    border-radius: 18px;
}
.voltarTopo:hover{
    background-color: #578f3b;
}
.voltarTopo:active{
    background-color: rgb(174, 255, 121);
}
#corollaFrenteTransparente:hover, figure:hover{
    transform: scale(1.15);
}
#corollaFrenteTransparente, figure{
    transition: 500ms;
}
#buttonContato, #buttonFormasDePagamento, #buttonImagens{
    cursor: pointer;
    transition: 500ms;
}
#buttonContato:hover, #buttonFormasDePagamento:hover, #buttonImagens:hover{
    transform: scale(1.5);
}
#buttonContato:active, #buttonFormasDePagamento:active, #buttonImagens:active, 
#photoBack:active, #photoForward:active{
    color: red;
    transition: 0ms;
}
#buttonFormasDePagamento{
    text-align: center;
}
.fullscreen_container, .fullscreen_container2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 3;
    max-height: 120vh;
    max-width: 100vw;
  }
  #modal, #modal2{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border: solid 3px silver;
    display: grid;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #161a1d, rgb(173, 217, 255));
    justify-content: center;
    max-height: 90%;
    max-width: 90%;
    height: 50vh;
    position:absolute;
    font-size: 1.5rem;
    gap:20px;

    animation: modalsAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes modalsAnimation{
    0% {
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
/* @keyframes modalsAnimation{
    0% {
        transform: skew(0deg, 90deg);
    }
    100%{
        transform: skew(0deg, 180deg);
    }
} */
#close_page img, #close_page2 img, #pauseCarousel, #startCarousel{
    height: auto;
    width: 30px;
    transition: 500ms;
}
#close_page img:hover, #close_page2 img:hover, #pauseCarousel:hover, #startCarousel:hover{
    cursor: pointer;
    transform:rotate(360deg);
    scale: 1;
}
#close_page img:active, #close_page2 img:active, #pauseCarousel:active, #startCarousel:active{
    scale: 1.2;
    transition: 0ms;
}
#modalPhone3 img{
    height: auto;
    width: 60px;
}
#modalEmail3 img{
    height: auto;
    width: 60px;
}
#close_page{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
#modalName{
    grid-column: 1 / 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
#modalPhone1{
    grid-column: 1;
    grid-row: 3;
}
#modalPhone2{
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
}
#modalPhone3{
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: center;
}
#modalEmail1{
    grid-column: 1;
    grid-row: 4;
}
#modalEmail2{
    grid-column: 2;
    grid-row: 4;
    display: flex;
    justify-content: center;
}
#modalEmail3{
    grid-column: 3;
    grid-row: 4;
    display: flex;
    justify-content: center;
}
#close_page2{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
#modal2Title{
    grid-column: 1 / 4;
    grid-row: 2;
}
#chavePix1{
    grid-column: 1 / 4;
    grid-row: 3;
}
#chavePix2{
    grid-column: 1 / 4;
    grid-row: 4;
}
#chavePicPay{
    grid-column: 1 / 4;
    grid-row: 5;
}
#close_page3{
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
mark{
    background-color: rgba(255, 251, 0, 0.35);
    color: white;
}
.eighthPage{
    height: 52vh;
}
.eighthPage #carouselImages img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 300px;

    animation: eighthPageAnimation 200ms;
    animation-duration: 3s;
}
@keyframes eighthPageAnimation{
    0% {
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
}
/* @keyframes eighthPageAnimation{
    0% {
        opacity: 0.0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }

    100%{
        opacity: 0.0;
    }
} */
#carousel{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#carouselImages{
    height: 50vh;
    width: 40vw;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
#carouselButtons{
    cursor: pointer;
    display: flex;
    width: 260px;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    padding-bottom: 30px;
}
#statusPaused{
    z-index: 99;
    color: aqua;
}
#carouselNew{
    margin: 0 auto;
    width: 800px;
    height: 600px;
}
#carouselNew img{
    max-width: 800px;
    max-height: 600px;
    border-radius: 50px;
}
#carouselNew button{
    font-size: 1.2rem;
}
#carouselNew svg{
    height: 2vh;
    width: 2vw;
}


/*----------> MEDIA <-----------*/
@media only screen and (max-width: 550px) {
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .firstPage{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .italo{
        box-sizing: border-box;
        padding-top: 20px;
        display: flex;
        height: 50vh;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }
    #italoPrimeiro{
        width: 200px;
        height: auto;
        padding-left: 5px;
    }
    .italoApresentation{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 60%;
    }
    .preSecondPage{
        height: 40vh;
        font-size: 1.8rem;
    }
    .prePreSecondPage{
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    #corollaFrenteTransparente{
        width: 90vw;
        height: auto;
    }
    #thirdPageItens1, #thirdPageItens2, #thirdPageItens3{
        padding: 20px;
        text-align: center;
        text-justify: inter-word;
    }
    .fourthPage{
        min-height: 400px;
    }
    .fourthPageTitle{
        padding: 20px;
        text-align: center;
        text-justify: inter-word;
    }
    #contJa{
        text-align: center;
        text-justify: inter-word;
        font-size: 3rem;
    }
    
    .seventhPage img{
        width: 50%;
        height: auto;
        justify-items: center;
        gap: 10px;
        padding: 10px;
    }
    .voltarTopo {
        display: none;
        position: fixed;
        bottom: 5px;
        right: 6px;
        font-size: 14px;
        padding: 8px;
        border-radius: 4px;
      }
    #modal{
        grid-template-columns: repeat(auto-fill , minmax(150px, 1fr));
    
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
        border: solid 3px silver;
        display: grid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 90%;
        max-width: 80%;
        height: 50vh;
        position:absolute;
        grid-auto-flow: dense;
        gap: 0px;
    }
    #modalEmail1{
        display: none;
    }
    #modalPhone1{
        display: none;
    }
    #modalName{
        grid-column: 1 / 4;
        font-size: 1.6rem;

    }
    #modalPhone2{
        display: none;
    }
    #modalPhone3{
        grid-column: 1 / 4;
        grid-row: 3;
    }
    #modalEmail2{
        display: none;
    }
    #modalEmail3{
        grid-column: 1 / 4;
        grid-row: 4;
    }
    #stars img{
        height: auto;
        width: 12%;
    }
    #carouselImages{
        height: 35vh;
        width: 90vw;
        border-radius: 10px;
    }
    button:hover{
        transform: none;
        color: aqua;
    }
    #carouselNew{
        height: fit-content;
        width: 300px;
        margin: 0 auto;
    }
    #carouselNew img{
        width: 300px;
        height: 200px;
    }
    #carouselNew button{
        font-size: 0.5rem;
    }
    #carouselNew svg{
        height: 4vh;
        width: 4vw;
    }
}

  
